body {
  margin: 0;
}
* {
  box-sizing: border-box;
}



.container {
  max-width: 1100px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.all {
  min-height: 80px;
  margin-bottom: 25px;
}
.col-2 {
  flex: 0 0 16.666666%;
} 
.col-10 {
  flex: 0 0 83.333333%;
}
.block {
  display: flex;
  align-items: center;
  height: 100%;
}
.block h1 {
  font-size: 30px;
  padding: 0 0 0 15px;
  color: #173A56;
}
.inside-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.navbar ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar ul li a {
  display: inline-block;
  color: #22343D;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  padding: 0 25px 0 0;
  line-height: 28px;
  font-size: 16px;
}
.navbar ul li a:hover {
  color: #02897A;
}
.active {
  font-weight: 600;
}
.navbar button:first-of-type {
  border: 1.5px solid #BCD0E5;
  background-color: whitesmoke; 
}
.navbar button:first-of-type a:first-of-type {
  color: #173A56;
}
.navbar button {
  padding: 10px 25px;
  margin: 0 25px 0 0;
  background-color: #02897A;
  border: none;
  border-radius: 5px; 
}
.navbar button a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: bolder;
}




.for-none {
  position: absolute;
  right: 1px;
  top: 15px;
  color: #173A56;
  padding: 0 20px 0 0;
  font-size: 30px;

  display: none;
}
.for-none a {
  padding: 0 5px 0;
}
.for-none a .fas {
  color: #02897A;
}
.for-menu ul {
  list-style-type: none;
  position: absolute;
  right: 10px;
  top: 0px;
  
  display: none;
}

.for-menu ul a {
  color: #22343dec;
  text-decoration: none;
  font-size: 20px;
}
.for-menu ul a:hover {
  color: #02897A;
}
.for-none:hover ul {
  display: block;

  display: flex;
}


@media (max-width: 250px) {
  .for-none a .fas {
  padding: 40px 0px 0 0;
  position: absolute;
  right: 25px;
  }
}
@media (max-width: 250px) {
  .for-none ul{
  padding: 40px 0px 0 0;
  position: absolute;
  right: 0px;
  }
}
@media (max-width: 150px) {
  .for-none ul{
  padding: 40px 0px 0 0;
  position: absolute;
  right: -40px;
  }
}

@media (max-width: 450px) {
  .for-none:hover ul {
  display: block;
  }
}
@media (max-width: 1065px) {
  .navbar {
  display: none;
  }
}
@media (max-width: 1065px) {
  .block {
  padding-left: 20px;
  }
}
@media (max-width: 1064px) {
  .for-none {
  display: block;
  }
}



.container2 {
  max-width: 1080px;
  margin: 0 auto;
}

.row {
  display: flex;
  
}
.col-5 {
  flex: 0 0 41.66666667%;
}
.col-7 {
  flex: 0 0 58.333333%;
}
.block1 {
  padding-bottom: 114px;
  max-width: 100%;
}

.col-7 img {
  max-width: 100%;
}
.col-5 h1 {
  margin: 0;
  font-family: 'Readex Pro', sans-serif;
  color: #22343D;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  padding-top: 120px;
}
.col-5 p {
  color: #22343D;;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 45px;
}
.col-5 button {
  border: none;
  background-color: #02897A;
  border-radius: 4px;

}
.for-play {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.col-5 a { 
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: bolder;
  padding: 15px 40px;
}
.col-5 .play img {
  position: relative;
  bottom: -3px;
  padding: 0;
  margin: 0;
}
.col-5 .play {
  padding: 0px 0px 0px 20px;
}
.col-5 .after-play {
  padding: 0 0 0px 0px;
  color: #02897A;
  border-bottom:2px solid #02897A;
}
/*.col-5 .play img:hover {
  
}*/


/*@media (max-width: 848px) {
  .watch {
  margin-top: 0px;
  }
}
@media (max-width: 799px) {
  .watch {
  margin-top: 20px;
 
@media (max-width: 383px) {
  .watch {
  margin-top: 20px;
  }
}
@media (max-width: 511px) {
  .play {
  margin-top: 20px;
  }
}*/
@media (max-width: 1200px) {
  .container2 {
  padding: 0 15px;
  }
}
@media (max-width: 880px) {
  .container2 {
  padding: 0 25px;
  }
}
@media (max-width: 700px) {
  .col-5 {
    flex: 100%;
    text-align: center;
    padding-bottom: 50px;
  }
}
@media (max-width: 700px) {
  .col-5 h1 {
    padding-top: 50px;
  }
}


@media (max-width: 700px) {
  .col-7 {
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 848px) {
  .after-play {
    margin-top: 15px;
    margin-right: 17px;
  }
}
@media (max-width: 700px) {
  .after-play {
   margin-bottom: 15px;
  }
}
@media (max-width: 382px) {
  .after-play {
    margin-top: 15px;
    margin-right: 17px;
  }
}
@media (max-width: 263px) {
  .play {
    margin: 2px 5px 0 0;
  }
}

.col-3 {
  flex: 0 0 25%;
}


.h1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 58px;
}
.h1 h1 {
  margin: 0;
  color: #22343D;
  font-family: 'Readex Pro', sans-serif;
  font-size: 32px;
  line-height: 48px;
}


.col-3 .example1 a {
  display: inline-block;
  background-color: #02897A; 
  color: #FFFFFF;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 19px;
  box-shadow: 0 3px 3px rgba(138, 132, 132, 0.884);
}
.col-3 .example1 h2 {
  margin: 0;
  font-size: 22px;
  font-family: 'Readex Pro', sans-serif;
  line-height: 33px;
  padding-top: 30px;
}
.col-3 .example1 p {
  font-family: 'Montserrat', sans-serif;
  line-height: 26px;
}
.example2 img {
  display: inline-block;
  background: #4D8DFF;
  color: #FFFFFF;
  font-size: 16px;
  padding: 16px 15px;
  border-radius: 19px;
  box-shadow: 0 3px 3px rgba(138, 132, 132, 0.884);
}
.col-3 .example2 h2 {
  margin: 0;
  font-size: 22px;
  font-family: 'Readex Pro', sans-serif;
  line-height: 33px;
  padding-top: 30px;
}
.col-3 .example2 p {
  font-family: 'Montserrat', sans-serif;
  line-height: 26px;
}
.col-3 .example3 a {
  display: inline-block;
  background-color: #740A76; 
  color: #FFFFFF;
  font-size: 16px;
  padding: 16px 19px;
  border-radius: 19px;
  box-shadow: 0 3px 3px rgba(138, 132, 132, 0.884);
}
.col-3 .example3 h2 {
  margin: 0;
  font-size: 22px;
  font-family: 'Readex Pro', sans-serif;
  line-height: 33px;
  padding-top: 30px;
}
.col-3 .example3 p {
  font-family: 'Montserrat', sans-serif;
  line-height: 26px;
}
.col-3 .example4 a {
  display: inline-block;
  background-color: #F03E3D; 
  color: #FFFFFF;
  font-size: 16px;
  padding: 16px 19px;
  border-radius: 19px;
  box-shadow: 0 3px 3px rgba(138, 132, 132, 0.884);
}
.col-3 .example4 h2 {
  margin: 0;
  font-size: 22px;
  font-family: 'Readex Pro', sans-serif;
  line-height: 33px;
  padding-top: 30px;
}
.col-3 .example4 p {
  font-family: 'Montserrat', sans-serif;
  line-height: 26px;
}

@media (max-width: 700px) {
  .h1 {
    flex: 100%;
    padding-top: 0px;
  }
}
@media (max-width: 800px) {
  .col-3 {
    flex: 50%;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .col-3 {
    flex: 100%;
    text-align: center;
  }
}

@media (max-width: 250px) {
  .col-3 {
    flex: 100%;
    text-align: center;
  }
}
@media (max-width: 150px) {
  .for-row {
    flex: 100%;
    text-align: center;
  }
}
.sign-up {
  padding: 34px 0 90px;
} 
.sign-up button { 
  display: flex;
  margin: auto;
  background-color: #02897A;
  border-radius: 4px; 
  border: none;
}
.sign-up button a {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  line-height: 24px;
  padding: 14px 35px;
}

/*.color {
  background-color: #E5E5E5;
  border-radius: 0 0 30% 30%;
}
@media (max-width: 850px) {
  .color {
    background-color: #E5E5E5;
    border-radius: 0;
  }
}*/


.midle-1 {
  margin-bottom: 150px;
}
.midle-1 .example-row {
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.col-6 {
  flex: 0 0 50%;
}
.midle-1 .col-6 img {
  max-width: 100%;
}
.midle-1 p {
  font-family: 'Montserrat', sans-serif;
  line-height: 26px;
  color: #22343D;
  padding-bottom: 30px;
}
.first-p {
  margin: 0;
  font-weight: 600;
  line-height: 26px;
  color: #22343D;
  padding-bottom: 8px;
}
.midle-1 h2 {
  margin: 0;
  font-weight: bold;
  line-height: 48px;
  padding-bottom: 23px;
}
.col-6 img {
  max-width: 100%;
}
.midle-1 .manage {
  padding-right: 30px; 
}
@media (max-width: 700px) {
  .example-row .col-6 {
    flex: 100%;
  }
}
@media (max-width: 700px) {
  .col-6 img {
    max-width: 100%;
  }
}
@media (max-width: 700px) {
  .manage {
    text-align: center;
    max-width: 100%;
  }
}





.midle-2 {
  margin-bottom: 150px;
}
.manage-1  {
  padding: 0 45px 0 45px;
}
.midle-2 .col-6 img {
  padding-right: 20px;
}
.row-wrap {
  flex-wrap: wrap-reverse;
}


.for-parth .parth-1 .fas {
  background-color: #FF9900;
  color: #FFFFFF;
  font-size: 16px;
  padding: 8px;
  border-radius: 12px;
  margin-right: 15px;
}
.for-parth .parth-2 .fas {
  background-color: #4D8DFF;
  color: #FFFFFF;
  font-size: 16px;
  padding: 8px;
  border-radius: 12px;
  margin-right: 15px;
}
.for-parth .parth-3 .fas {
  background-color: #740A76;
  color: #FFFFFF;
  font-size: 16px;
  padding: 8px;
  border-radius: 12px;
  margin-right: 15px;
}
.parth-1 {
  display: flex;
  align-items: center;
}
.parth-2 {
  display: flex;
  align-items: center;
}
.parth-3 {
  display: flex;
  align-items: center;
}
@media (max-width: 700px) {
  .midle-2 .col-6 {
    flex: 100%;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .parth-1 {
    display: inline;
  }
}
@media (max-width: 700px) {
  .parth-2 {
    display: inline;
  }
}
@media (max-width: 700px) {
  .parth-3 {
    display: inline;
  }
}


.midle-3 {
  margin-bottom: 150px;
}
@media (max-width: 700px) {
  .col-6 {
    text-align: center;
    flex: 100%;
  }
}


.chat {
  padding: 54px 0 0 0;
  margin-bottom: 150px;
}
.center  { 
  text-align: center;
  padding-bottom: 32px;
}
.center h2 { 
  text-align: center;
  margin: 0;
  padding-bottom: 25px;
}
.center p {
  max-width: 600px;
  margin: 0 auto;
}

.chat section {
  font-family: 'Montserrat', sans-serif;
}
.chat .left {
  background-color: #FFFFFF;
  border-radius: 25px 25px 25px 0;
  padding: 10px 15px;
}
.chat .right {
  background-color: #FFFFFF;
  border-radius: 25px 25px 0 25px;
  padding: 10px 15px;
}
.chat .img-left {
  padding: 0 15px 0 0;
}
.chat .img-right {
  padding: 0 0px 0px 15px;
}
.chat .for-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
.chat .for-chat-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
.chat .for-chat-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
.chat .for-chat-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
.contact {
  text-align: center;
  padding-top: 30px;
}
.contact button {
  border: none;
  background-color: #02897A;
  border-radius: 5px;
}
.contact button a {
  display: inline-block;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 24px;
  padding: 15px 30px;
  font-size: 16px;
}

@media (max-width: 760px) {
  .chat .col-6 {
    flex: 100%;
  }
}



.col-4 {
  flex: 0 0 33.333333%;
}
.images {
  margin-bottom: 150px;
}
.images h2 {
  margin: 0;
  padding-bottom: 8px;
}
.images p {
  padding-bottom: 33px;
}
.example-1 {
  margin: 0 16px 0 0;
  border: 1px solid grey;
  border-radius: 8px;
  overflow: hidden;
  min-height: 359px;
}
.example-1 img {
  width: 100%;
  padding-bottom: 24px;
}
.example-1 span {
  font-family: 'Montserrat', sans-serif;
  line-height: 28px;
  color: #22343D;
  padding-bottom: 12px;
}
.example-1 h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #22343D;
  padding: 0 30px 40px 24px;
}
.example-1 h3:hover {
  color: #02897A;
}


.example-2 {
  margin: 0 8px;
  border: 1px solid grey;
  border-radius: 8px;
  overflow: hidden;
  min-height: 359px;
}
.example-2 img {
  width: 100%;
  padding-bottom: 24px;
}
.example-2 span {
  font-family: 'Montserrat', sans-serif;
  line-height: 28px;
  color: #22343D;
  padding-bottom: 12px;
}
.example-2 h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #22343D;
  padding: 0 30px 40px 24px;
}
.example-2 h3:hover {
  color: #02897A;
}

.example-3 {
  margin: 0 0 0 16px;
  border: 1px solid grey;
  border-radius: 8px;
  overflow: hidden;
  min-height: 359px;
}
.example-3 img {
  width: 100%;
  padding-bottom: 24px;
}
.example-3 span {
  font-family: 'Montserrat', sans-serif;
  line-height: 28px;
  color: #22343D;
  padding-bottom: 12px;
}
.example-3 h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #22343D;
  padding: 0 30px 40px 24px;
}
.example-3 h3:hover {
  color: #02897A;
}
@media (max-width: 700px) {
  .images {
    text-align: center;
  }
}
@media (max-width: 700px) {
  .col-4 {
    flex: 100%;
    padding-bottom: 20px;
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .example-1 {
    margin-left: 16px;
  }
}
@media (max-width: 700px) {
  .example-3 {
    margin-right: 16px;
  }
}


.place {
  padding: 0 36px 20px 0;
}
.place-2 {
  padding: 0 0 20px 36px;
}
.place-3 {
  padding: 0 18px 20px;
}
.price-table {
  text-align: center;
  margin: 0 auto;
}
.price-table h2 {
  margin: 0;
  padding-bottom: 8px;
}
.price-table p {
  margin: 0;
  padding-bottom: 50px;
}
.free {
  text-align: center;
  border: 1px solid rgb(255, 238, 238);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(196, 195, 195);
}
.free h3 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 40px;
  padding: 24px 0 8px;
}
.free p:first-of-type {
  margin: 0;
  line-height: 40px;
  padding-bottom: 16px;
}
.free p{
  line-height: 22px;
  color: #22343D;
  padding-bottom: 16px;
}
.many {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.many .number {
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  line-height: 50px;
  font-weight: bolder;
  color: #02897A;
  padding-right: 8px;
}
.many .price p {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  color: #02897A;
  font-size: 16px;
  text-align: left;
  color: #AFAFAF; 
} 
.many .price .dollar {
  font-weight: bolder;
  color: #02897A;
}
.free button {
  background-color: #02897A;
  border-radius: 8px;
  border: none;
  margin: 22px 0 32px;
}
.free button a {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding: 11px 18px;
}


.standard {
  text-align: center;
  border: 1px solid rgb(255, 238, 238);
  border-radius: 5px;
  background-color: #02897A;
}
.standard h3 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 40px;
  padding: 24px 0 8px;
  color: #FFFFFF;
}
.standard p:first-of-type {
  margin: 0;
  line-height: 40px;
  padding-bottom: 16px;
  color: #FFFFFF;
}
.standard p {
  line-height: 22px;
  color: #FFFFFF;
  padding-bottom: 16px;
}
.many-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.standard .number-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  line-height: 50px;
  font-weight: bolder;
  color: #FFFFFF;
  padding-right: 8px;
}
.standard .dollar {
  font-weight: bolder;
}
.standard .price-2 p {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  font-size: 16px;
  text-align: left;
} 

.standard button {
  background-color: #FFFFFF;
  border-radius: 8px;
  border: none;
  margin: 22px 0 32px;
}
.standard button a {
  display: inline-block;
  text-decoration: none;
  color: #02897A;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding: 11px 18px;
}
.price-teble-block {
  padding-bottom: 150px;
}
@media (max-width: 800px) {
  .col-4 {
    flex: 100%;
    padding: 20px 0;
  }
}



.clients {
  padding-bottom: 150px;
}
.clients-coments {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}
.clients-coments h2 {
  margin: 0;
  padding-bottom: 8px;
}
.clients-coments .problems {
  margin: 0;
  padding: 0 0 50px;
  font-weight: 500;
}
.clients .stars {
  border: 1px solid rgb(230, 225, 225);
  border-radius: 3px;
}
.clients img {
  padding: 28px 0 16px 28px;
}

.clients p {
  padding: 0 26px 17px;
  line-height: 24px;
}
.clients .desiner {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
}
.clients .desiner .photo img {
  padding: 0 0 0 26px;
}
.about-clients {
  padding-left: 14px;
}
.clients .desiner .name {
  margin: 0;
  color: #02897A;
  line-height: 24px;
  font-size: bolder;
  padding: 0;
}
.clients .desiner p {
  margin: 0;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
}



.about-product {
  max-width: 968px;
  margin: 0 auto;
  min-height: 345px;
  background-color: #02897A;
  border-radius: 32px;
  margin-bottom: 150px;
}
.about-product .row {
  display: flex;
  flex-wrap: wrap;
}
.about-produc .col-6 {
  flex: 50%;
}
.compannies h2 {
  margin: 0;
  padding: 50px 0 0 50px;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 49px;
}
.compannies button {
  margin: 56px 0 20px 50px;
  background-color: #FFFFFF;
  padding: 15px 34px;
  border-radius: 8px;
  border: none;
}
.compannies button a {
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  color: #02897A;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.compannies img {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  .compannies h2 {
    text-align: center;
    padding-left: 0;
  }
}
@media (max-width: 700px) {
  .compannies button {
    text-align: center;
    margin-left: 0;
  }
}


footer {
  padding-bottom: 50px;
}
footer .col-2 {
  flex: 0 0 25%;
}

footer .logo {
  display: flex;
  align-items: center;
  padding-bottom: 28px;
}
footer h2 {
  margin: 0;
  padding-left: 15px;
  color: #173A56;
}
footer h3 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #22343D;
  line-height: 30px;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 0 8px;
}
footer p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 35px;
  color: #22343D;
}
footer .for-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  margin: 34px 0 21px;
}
footer input {
  border: none;
  margin: 10px 0 10px 15px;
}
footer button {
  border: none;
  background-color: #02897A;
  border-radius: 4px;
}
footer button a {
  display: inline-block;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  padding: 8px 15px;
  line-height: 24px;
  font-weight: bold;
}
footer .last-p {
  text-align: center;
  padding-top: 10px;
}
@media (max-width: 800px) {
  footer .col-2 {
    flex: 50%;
  }
}
@media (max-width: 550px) {
  footer .col-2 {
    flex: 100%;
    text-align: center;
  }
}